<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>

<div id="body">

	<div id="nav">
		<div class="menu-left menu">
			<ul>
				<li class="top"><a href="sign-out">Sign Out</a></li>
				<li><a href="delete">Close Account</a></li>
			</ul>
		</div>
		<div class="menu-right menu">
			<ul>
				<li class="top"><a href="profile">My Profile</a></li>
				<li class="top"><a href="post">Write a Post</a></li>
				<li><a href="userlist">Member List</a></li>
			</ul>
		</div>
	</div>


	<div class="box box_full">
		<%= flash[:alert] %>
		<h1>Recent Feed</h1>
		<% x = 0 %>
		<% @posts.each do |recent_post| unless x >= 10 %>
			<% this_id = recent_post.user_id %>
			<% this_user = @users.find(this_id).username if !@users.find(this_id).blank? %>
			<h2>
				Post #:
				<%= recent_post.id %> -
				<%= recent_post.post %>
				<%= this_user %>
			</h2>
			<% x = x + 1 %>
			<br>
			<% end %>
		<% end %>
	</div>
</div>