<h1>SIGN IN</h1>
<br>
<form method="POST" action="/sign-in"> 

	<label for="username">email</label>   
	<input type="text" name="username"> 
	<br>

	<label for="password">Password</label>   
	<input type="password" name="password"> 
	<br>

	<input type="submit"> 

</form>
<br>

<p>OR</p>

<a href='/signup'>SIGN UP</a>