
<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>

<div id="body">
	<div id="pic-box"><img id="logo" src="posthaste.png"></div>
	<div class="box">

		<h1>SIGN IN</h1>
		<br>
		<form method="POST" action="/sign-in" id="form">
			<div class="feed">
				<%= flash[:alert] %>
			</div> 
			<label for="username">Username</label>   
			<input type="text" name="username" id="username">
			<br>
			<label for="password">Password</label>   
			<input type="password" name="password" id="password">
			<br>
			<br>
			<input type="submit" class="submit"> 
		</form>
		<br>

		<div id="or">
			<h3>OR</h3>
		</div>

		<a href='/signup' id="signup">
			<h1>SIGN UP</h1>
		</a>

	</div>
</div>