<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>


<div id="body">

	<div id="nav">
		<div class="menu-left menu">
			<ul>
				<li class="top"><a href="sign-out">Sign Out</a></li>
				<li><a href="delete">Close Account</a></li>
			</ul>
		</div>
		<div class="menu-right menu">
			<ul>
				<li class="top"><a href="profile">My Profile</a></li>
				<li class="top"><a href="feed">Recent Feed</a></li>
				<li><a href="userlist">Member List</a></li>
			</ul>
		</div>
	</div>

	<div class="box">
		<h1>
			Welcome, <%=@user.username if @user %>
		</h1>

		<h3>Write a new post</h3>
		<%= flash[:alert] %>
		<form method="POST" action="/submit_post" id="postform">
		 	<input type="hidden" name="[post]user_id" value="<%=current_user.id %>">
			<input class="post" type="text" name="[post]title" placeholder="Title of your post">
			<br>
			<textarea class="post" type="text" name="[post]post" maxlength="150" placeholder="Write something" col="4" rows="10" class="postarea"></textarea>
						<p>Character limit: 150</p>
			<br>
			<input type="submit" class="submit">
		</form>
	</div>
</div>


