<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>

<div id="body">
	
	<div id="nav">
		<div class="menu-left menu">
			<ul>
				<li class="top"><a href="sign-out">Sign Out</a></li>
				<li><a href="delete">Close Account</a></li>
			</ul>
		</div>
		<div class="menu-right menu">
			<ul>
				<li class="top"><a href="profile">My Profile</a></li>
				<li><a href="post">Write a Post</a></li>
			</ul>
		</div>
	</div>

	<div class="box">

		<h1>Your recent posts</h1>
		<h3> <%= @user.username %> </h3>

		<h3> <%= @user.id %> </h3>

		<% @current.each do |post| %>
		<h2>
			<%= post.post %>
		</h2>
		<br>
		<% end %>

	</div>
</div>