<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>

<div id="body">
	<div class="box">

		<h1>Welcome!</h1>
		<br>
		<form method="POST" action="/submit_user"> 

			<label for="username">Username</label>   
			<input type="text" name="[user]username" placeholder="Username">
			<br>

			<label for="email">Email</label>   
			<input type="text" name="[user]email" placeholder="email"> 
			<br>

			<label for="password">Password</label>   
			<input type="password" name="[user]password" placeholder="password"> 
			<br>

			<input type="submit" class="submit"> 
		</form>

	</div>
</div>