<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>

<div id="body">
	<div class="box">
		<a href="sign-in">back</a>
		<h3>Won't take but a few thousands of milliseconds...</h3>
		<form method="POST" action="/submit_user">
			
			<div class="feed">
				<%= flash[:alert] %>
			</div>  
  
			<input type="text" name="[user]username" placeholder="Username">
			<br>
			<input type="text" name="[user]email" placeholder="email"> 
			<br>
			<input type="password" name="[user]password" placeholder="password"> 
			<br>
			<h3>See.</h3>

			<input type="submit" class="submit"> 
		</form>

	</div>
</div>