<h1>Welcome!</h1>
<br>
<form method="POST" action="/submit_user"> 

	<label for="username">User Name</label>   
	<input type="text" name="[user]username" placeholder="Username">
	<br>

	<label for="email">email</label>   
	<input type="text" name="[user]email" placeholder="email"> 
	<br>

	<label for="password">Password</label>   
	<input type="password" name="[user]password" placeholder="password"> 
	<br>

	<input type="submit"> 

</form>