body {
	background-color: black;
	width: 100%;
	font-family: 'Dosis', sans-serif;
}

#body {
	background-color: rgb(240, 120, 30);
	border-radius: 25px;
	width: 600px;
	height: 800px;
	margin: 0 auto;
}

.box {
	position: relative;
	top: 150px;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
}

#form {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

label, input {
		display: inline-block;
    vertical-align: baseline;
    width: 100px;
}

input {
	border-radius: 25px;
	border-color: rgb(240, 120, 30);
	text-align: center;
}

label {
    color: rgb(240, 120, 30);
    font-size: 1em;
}

.feed {
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	color: black;
}

.box h1 {
	color: rgb(240, 120, 30);
}

.box h2 {
	width: 100px;
	margin: 10 auto;
	padding: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.box h3 {
	color: rgb(240, 120, 30);
}

.submit {
	margin-top: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: rgb(240, 120, 30);
	color: white;
}

.box a {
	text-decoration: none;
}

/*=========== POST PAGE ==============
=====================================
=====================================*/

.post {
	margin: 10px;
}

#postform input {
	border-color: rgb(200, 200, 200);
}


